%div.seminars.socratic-seminars
    %h1 Edit Seminar

    = form_with(model: @socratic_seminar, local: true, class: "seminar-form") do |f|
      .field
        = f.label :organization_id, "Organization"
        = f.collection_select :organization_id, Organization.all, :id, :name

      .field
        = f.label :seminar_number, "Seminar Number"
        = f.number_field :seminar_number

      .field
        = f.label :date, "Seminar Date"
        = f.date_field :date

      .field
        = f.label :topics_list_url, "Topics List URL"
        = f.url_field :topics_list_url, placeholder: "https://example.com/topics-list"

      .actions
        = f.submit "Update Seminar", class: "button"
        = link_to "Cancel", socratic_seminar_path(@socratic_seminar), class: "button button-secondary"
