.container
  %p{style: "color: green"}= notice

  %div{style: "display: flex; align-items: center; gap: 1.2em; margin-bottom: 1em;"}
    = image_tag 'logo.png', alt: 'Builder Voting Logo', style: 'height: 100px; width: 100px; border-radius: 10%; box-shadow: 0 2px 8px rgba(0,0,0,0.08);'
    %div
      .seminar-title ₿uilder Voting
      .seminar-subtitle Vote on topics for the next ₿uilder Meeting

  - if @admin_mode
    .header-actions{style: "margin-bottom: 1rem;"}
      = link_to "New ₿uilder Seminar", new_socratic_seminar_path, class: "button projector-footer-btn", style: "margin-bottom: 1em;"
      = button_to "Disable Admin Mode", disable_admin_mode_path, method: :post, class: "button projector-footer-btn delete-content-btn", style: "margin-bottom: 1em;"

  .voting-instructions
    %ul
      %li Vote for free with the Up & Down arrows. One vote per person.
      %li Send Lightning payments for additional votes. Each individual payment counts as 1 vote. Unlimited Lightning votes per person.
      %li All payments help pay for pizza.

  #socratic_seminars
    - @socratic_seminars.each do |socratic_seminar|
      = render "socratic_seminars/laptop/socratic_seminar", socratic_seminar: socratic_seminar

  %footer.sticky-footer
    .container{style: "text-align: left; display: flex; gap: 1em;"}
      = link_to 'Sats Vs Bitcoin', sats_vs_bitcoin_path, class: 'button projector-footer-btn'
      = link_to 'Projector Mode', projector_path, class: 'button projector-footer-btn'
