.seminars
  .socratic-seminars
    .seminar-header
      .title-section
        %h1= "#{@socratic_seminar.organization.name} ##{@socratic_seminar.seminar_number}"
        .seminar-date= @socratic_seminar.date.strftime("%b #{@socratic_seminar.date.day.ordinalize}, %Y")
      - if can?(:edit, @socratic_seminar)
        .header-actions
          = link_to "Edit Event", edit_socratic_seminar_path(@socratic_seminar), class: "button"

    .topics-section
      .section-header
        %h2 Topics
        - if can?(:create, Topic.new(socratic_seminar: @socratic_seminar))
          = link_to "New Topic", new_socratic_seminar_topic_path(@socratic_seminar), class: "button"

      .topics-list
        - if @socratic_seminar.topics.any?
          - @socratic_seminar.topics.each do |topic|
            .topic-item
              = link_to topic.name, socratic_seminar_topic_path(@socratic_seminar, topic)
              - if topic.link.present?
                .topic-link
                  = link_to topic.link, topic.link, target: "_blank", rel: "noopener noreferrer", class: "external-link"
              .topic-stats
                .votes
                  %span.count= topic.votes
                  votes
                .sats
                  %span.count= topic.sats_received
                  sats
        - else
          .no-topics No topics yet. Be the first to add one!
