.topics-container{"data-controller" => "delete-modal"}
  .topics{"data-controller" => "topics"}
    .page-header-row
      .page-header-container
        .builder-logo-container
          -# # TODO: This is a hack to for now. Need to add a logo to the organization and then show that.
          - if @socratic_seminar.organization.name.include?("uilder")
            = image_tag 'builder-logo.png', alt: 'Builder Voting Logo'
          - else
            = image_tag 'lightning-bitcoin-logo-2.png', alt: 'Lightning Voting Logo'

        .header-content
          %h1.page-header-title
            = @socratic_seminar.organization.name
            .seminar-number ##{@socratic_seminar.seminar_number}

          .header-controls
            .header-settings
              .sats-btc-toggle
                = render 'topics/laptop/sats_btc_toggle'
              .lightning-effects-toggle
                = render 'topics/laptop/lightning_effects_toggle'
              .qr-code-toggle
                = render 'topics/laptop/qr_code_toggle'

            - if can? :manage, @socratic_seminar
              .header-actions
                = link_to 'New Topic', new_socratic_seminar_topic_path(@socratic_seminar), class: 'button header-controls-button'
                = link_to "Import Topics", socratic_seminar_import_topics_path(@socratic_seminar),
                  class: "button header-controls-button"
                %button.button.header-controls-button.delete-content-btn{"data-action" => "click->delete-modal#show"} Delete Topics
              .header-payout
                = link_to "Payout Bitcoin", payout_socratic_seminar_path(@socratic_seminar), class: "button header-controls-button"
            - else
              .header-actions
                = link_to 'Submit Topic', new_socratic_seminar_topic_path(@socratic_seminar), class: 'button submit-topic-button'


          .qr-code-container{"data-topics-target" => "qrCodeContainer", style: "display: none;"}
            = image_tag "https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=#{CGI.escape("#{ENV['HOSTNAME'] || request.base_url}/socratic_seminars/#{@socratic_seminar.id}/topics")}"

    .voting-instructions
      %ul
        %li Vote for free with the Up & Down arrows. One vote per person.
        %li Send Lightning payments for additional votes. Each individual payment counts as 1 vote. Unlimited Lighting votes per person.
        %li Votes count for ranking. Lightning payments add votes, but don't count for ranking.

    - @sections.each do |section|
      %h2.section-title= section.name
      %ul
        - @topics.select { |topic| topic.section_id == section.id }.each do |topic|
          - vote_state = (@vote_states && @vote_states[topic.id.to_s])
          %li.topic-list-item{"data-topic-id" => topic.id, "data-votes" => topic.votes || 0}
            .topic-header-row
              %span.topic-name
                = link_to topic.name, socratic_seminar_topic_path(@socratic_seminar, topic)
                - if topic.link.present?
                  %span.topic-link
                    = link_to truncate(topic.link, length: 75), topic.link, target: "_blank", rel: "noopener"
            .vote-and-sats-info
              .vote-count{"data-topics-target" => "voteCount"}= topic.votes || 0
              .vote-count-label votes

              .vote-buttons
                = button_to upvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                  method: :post,
                  class: "vote-button",
                  disabled: (vote_state == 'up'),
                  form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                  %span.vote-arrow
                    %i.fas.fa-arrow-up
                = button_to downvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                  method: :post,
                  class: "vote-button",
                  disabled: (vote_state == 'down'),
                  form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                  %span.vote-arrow
                    %i.fas.fa-arrow-down

              |
              .sats-info
                .sats-label{"data-action" => "click->topics#toggleSatsLabel"} Sats
                .sats-received{"data-sats" => topic.sats_received}= topic.sats_received
              |
              = link_to "Vote with Lightning ⚡", "https://www.lnurlpay.com/#{topic.lnurl}",
                class: "send-btc-link",
                target: "_blank",
                rel: "noopener"

            - if topic.subtopics.any?
              .subtopics-container
                .subtopics-label Subtopics:
                .subtopics-list
                  - topic.subtopics.each do |subtopic|
                    %span.subtopic-item
                      - if subtopic.link.present?
                        = link_to "→ #{subtopic.name}", subtopic.link, target: "_blank", rel: "noopener"
                      - else
                        = "→ #{subtopic.name}"

  #deleteSectionsModal{"data-delete-modal-target" => "modal"}
    .delete-modal-content
      %h3.delete-modal-header ⚠️ Warning: You are deleting ALL Sections & Topics
      %p
        You are about to delete
        %strong ALL
        Sections and Topics for this Seminar.
      %p
        This will also delete
        %strong ALL Lightning Payments
        associated with the Topics.
      %p.delete-modal-warning This action cannot be undone!

      .delete-modal-actions
        %button.button.delete-modal-cancel{"data-action" => "click->delete-modal#hide"} Cancel
        = button_to "Confirm & Delete", delete_sections_socratic_seminar_path(@socratic_seminar),
          method: :delete,
          class: "button button-danger",
          data: { confirm: false }
