.topics
  .page-header-container
    .builder-logo-container
      - if @socratic_seminar.organization.name.include?("uilder")
        = image_tag 'builder-logo.png', alt: 'Builder Voting Logo'
      - else
        = image_tag 'lightning-bitcoin-logo-2.png', alt: 'Lightning Voting Logo'
    .header-content
      %h1.page-header-title
        New Topic
      %span.new-topic-seminar-number= @socratic_seminar.organization.name + " ##{@socratic_seminar.seminar_number}"

  .new-topic-form-container
    = render 'topics/laptop/form'
