<!-- TODO Move this to a template -->
<script src="https://kit.fontawesome.com/090ca49637.js" crossorigin="anonymous"></script>

<div class="container">
  <div class="page-header-row">
    <h1>Topics</h1>
    <%= link_to 'New Topic', new_topic_path, class: 'button button-new-topic' %>
  </div>
  <div class="topic-list-header-row">
    Every Lightning payment counts as 1 vote.
  </div>
  <ul>
    <% @topics.each do |topic| %>
      <% vote_state = (@vote_states && @vote_states[topic.id.to_s]) %>
      <li class="topic-list-item">
        <div class="topic-header-row">
          <span class="topic-name"><%= link_to topic.name, topic_path(topic) %></span>
          <div class="vote-buttons">
            <%= button_to upvote_topic_path(topic), method: :post, class: 'vote-button', disabled: (vote_state == 'up') do %>
              <span class="vote-arrow"><i class="fas fa-arrow-up"></i></span> Up
            <% end %>
            <%= button_to downvote_topic_path(topic), method: :post, class: 'vote-button', disabled: (vote_state == 'down') do %>
              <span class="vote-arrow"><i class="fas fa-arrow-down"></i></span> Down
            <% end %>
          </div>
        </div>
        <span class="vote-info-row">
          Votes: 
          <div class="vote-count"><%= topic.votes || 0 %></div>
          |
          Sats Received: 
          <i class="fak fa-satoshisymbol-solid"></i>
          <div class="sats-received"><%= topic.sats_received %></div>
        </span>
      </li>
    <% end %>
  </ul>
</div>
