<!-- Sats symbol https://satsymbol.com/fontawesome/ -->
<script src="https://kit.fontawesome.com/090ca49637.js" crossorigin="anonymous"></script>


<h1><%= @topic.name %></h1>
<H2>
  <strong>Sats Received: </strong>
  <i class="fak fa-satoshisymbol-solid"> <%= @topic.sats_received %></i>
</H2>
<H2><strong>Individual Payments:</strong> <%= @topic.individial_payments %></H2>

<% if @topic.lnurl %>
  <H3>Scan the QR code or use the LNURL to Upvote the topic</H3>
  <%= image_tag "https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=#{CGI.escape(@topic.lnurl)}" %>
  <p>
    <strong>LNURL:</strong>
    <br>
    <%= @topic.lnurl.presence %>
  </p>
  <br>
  <p>Try the <%= link_to "LNURLPay.com link", "https://www.lnurlpay.com/#{@topic.lnurl}", target: "_blank" %> if the QR code doesn't work</p>
  
<% end %>





<%= link_to 'Back To Topic List', topics_path %> 