= form_with(model: organization, local: true, class: 'organization-form') do |f|
  - if organization.errors.any?
    #error_explanation
      %h2= "#{pluralize(organization.errors.count, "error")} prohibited this organization from being saved:"
      %ul
        - organization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Organization Name"
    = f.text_field :name, required: true, placeholder: "Enter organization name"
    .field-hint Required field

  .field
    = f.label :city, "City"
    = f.text_field :city, placeholder: "Enter city name"

  .field.country
    = f.label :country, "Country"
    = f.select :country, country_options, { include_blank: "Select a country" }, class: "country-select"
    .field-hint Select your organization's country

  .field
    = f.label :website, "Website URL"
    = f.text_field :website, placeholder: "https://example.com"
    .field-hint Include https:// or http://

  .field
    = f.label :bolt12_invoice, "Bolt12 Invoice"
    = f.text_area :bolt12_invoice, placeholder: "lno1zrxq8pjw7qjlm68mtp7e..........................................", rows: 4
    .field-hint Optional: This is the default payout invoice for the organization. It will be used to pay bitcoin received for Socratic Seminars.

  .actions{style: "margin-top: 1rem;"}
    = f.submit class: 'button'
    = link_to 'Cancel', organizations_path, class: 'button button-secondary'
