.organizations
  %h1 Organizations

  - if current_user.admin?
    .actions.index-actions
      = link_to 'New Organization', new_organization_path, class: 'button'

  %table
    %thead
      %tr
        %th Name
        %th City
        %th Country
        %th Website

    %tbody
      - @organizations.each do |organization|
        %tr
          %td= link_to organization.name, organization_path(organization)
          %td= organization.city
          %td= organization.country
          %td= link_to organization.website, organization.website, target: '_blank' if organization.website.present?
