.organizations
  %h1= @organization.name

  .tabs
    = link_to 'Overview', organization_path(@organization), class: "tab #{active_tab?('overview')}"
    = link_to 'Settings', settings_organization_path(@organization), class: "tab #{active_tab?('settings')}"

  .tab-content
    .settings-section
      %h2 Role Management

      .role-management
        .search-section
          %h3 Add User
          = form_with url: settings_organization_path(@organization), method: :get, local: true, data: { turbo: false } do |f|
            .field
              = f.label :email, 'Search User by Email'
              .search-field
                = f.email_field :email, placeholder: 'Enter user email', value: params[:email]
                = f.submit 'Search', class: 'button'

          - if @found_user.present?
            .found-user
              .user-info
                = @found_user.email
              .role-actions
                - unless @found_user.admin_of?(@organization)
                  = button_to 'Add as Admin', organization_organization_roles_path(@organization),
                    params: { email: @found_user.email, role: 'admin' },
                    class: 'button'
                - unless @found_user.moderator_of?(@organization)
                  = button_to 'Add as Moderator', organization_organization_roles_path(@organization),
                    params: { email: @found_user.email, role: 'moderator' },
                    class: 'button'

        .current-users
          %h3 Current Users
          .user-list
            - @organization.organization_roles.includes(:user).group_by(&:user).each do |user, roles|
              .user-item
                .user-info
                  = user.email
                  .user-roles
                    - roles.each do |role|
                      %span.role{class: role.role}= role.role.titleize
                .role-actions
                  - roles.each do |role|
                    = button_to "Remove #{role.role.titleize}", organization_organization_role_path(@organization, user, role: role.role),
                      method: :delete,
                      class: 'button button-danger small'
