.event-row{id: dom_id(socratic_seminar)}
  .event-info
    .event-title
      = link_to "#{socratic_seminar.organization.name} ##{socratic_seminar.seminar_number}", socratic_seminar_topics_path(socratic_seminar)
    .event-details
      %span.event-location= socratic_seminar.organization.city
      %span.event-date= socratic_seminar.date.strftime("%b #{socratic_seminar.date.day.ordinalize}, %Y")
