.topics{"data-controller" => "topics"}
  .page-header-row.mobile-header
    .builder-logo-container
      = image_tag 'lightning-bitcoin-logo-2.png', alt: 'Lightning Voting Logo'
    .mobile-header-content
      %h1.page-header-title
        = @socratic_seminar.organization.name + " ##{@socratic_seminar.seminar_number}"
      .toggles-container
        .sats-btc-toggle
          = render 'topics/shared/sats_btc_toggle'
        .lightning-effects-toggle
          = render 'topics/mobile/lightning_effects_toggle'
        = link_to 'Projector Mode', projector_socratic_seminar_path(@socratic_seminar), class: 'button projector-footer-btn'
  .voting-instructions.mobile-instructions
    %ul
      %li Vote for free with the Up & Down arrows
      %li Send Lighthing payments as additional votes.
      %li Votes count for ranking. Lightning payments add votes, but don't count for ranking.

  - @sections.each do |section|
    %h2.section-title= section.name
    %ul
      - @topics.select { |topic| topic.section_id == section.id }.each do |topic|
        - vote_state = (@vote_states && @vote_states[topic.id.to_s])
        %li.topic-list-item{"data-topic-id" => topic.id, "data-votes" => topic.votes || 0}
          .topic-header-row
            %span.topic-name
              = link_to topic.name, socratic_seminar_topic_path(@socratic_seminar, topic)
          .vote-row
            Votes:
            .vote-count{"data-topics-target" => "voteCount"}= topic.votes || 0

            .vote-buttons
              = button_to upvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                method: :post,
                class: "vote-button",
                disabled: (vote_state == 'up'),
                form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                %span.vote-arrow
                  %i.fas.fa-arrow-up
              = button_to downvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                method: :post,
                class: "vote-button",
                disabled: (vote_state == 'down'),
                form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                %span.vote-arrow
                  %i.fas.fa-arrow-down

          .payment-row
            .sats-info
              .sats-label{"data-action" => "click->topics#toggleSatsLabel"} Sats
              .sats-received{"data-sats" => topic.sats_received}= topic.sats_received
            |
            = link_to "Vote with Lightning ⚡", "https://www.lnurlpay.com/#{topic.lnurl}",
              class: "send-btc-link mobile-lightning-button",
              target: "_blank",
              rel: "noopener"
