.topics{"data-controller" => "topics"}
  .page-header-row.mobile-header
    .builder-logo-container
      = image_tag 'logo.png', alt: 'Builder Voting Logo'
    .mobile-header-content
      %h1.page-header-title
        ₿uilder #{@socratic_seminar.seminar_number}
      .sats-btc-toggle
        = render 'topics/shared/sats_btc_toggle'

  .voting-instructions.mobile-instructions
    %ul
      %li Vote for free with the Up & Down arrows
      %li Send ⚡ for additional votes
      %li All payments help pay for pizza

  - @sections.each do |section|
    %h2.section-title= section.name
    %ul.mobile-topics-list
      - @topics.select { |topic| topic.section_id == section.id }.each do |topic|
        - vote_state = (@vote_states && @vote_states[topic.id.to_s])
        %li.topic-list-item.mobile-topic{"data-topic-id" => topic.id, "data-votes" => topic.votes || 0}
          .topic-header-row
            %span.topic-name
              = link_to topic.name, socratic_seminar_topic_path(@socratic_seminar, topic)
          .vote-info
            Votes:
            .vote-count{"data-topics-target" => "voteCount"}= topic.votes || 0

            .vote-buttons.mobile-vote-buttons
              = button_to upvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                method: :post,
                class: "vote-button mobile-vote-button",
                disabled: (vote_state == 'up'),
                form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                %span.vote-arrow
                  %i.fas.fa-arrow-up
              = button_to downvote_socratic_seminar_topic_path(@socratic_seminar, topic),
                method: :post,
                class: "vote-button mobile-vote-button",
                disabled: (vote_state == 'down'),
                form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
                %span.vote-arrow
                  %i.fas.fa-arrow-down

          .mobile-payment-row
            .mobile-sats-info
              %span.sats-label{"data-action" => "click->topics#toggleSatsLabel"} Sats
              .sats-received{"data-sats" => topic.sats_received}= topic.sats_received
              |
              = link_to "Vote with ⚡", "https://www.lnurlpay.com/#{topic.lnurl}",
                class: "send-btc-link mobile-lightning-button",
                target: "_blank",
                rel: "noopener"
