.landing-page
  .hero-section
    .hero-content
      = image_tag 'lightning-bitcoin-logo.png', alt: 'Lightning Voting Logo', class: 'hero-logo'
      %div
        .seminar-title ⚡️ Lightning Voting
        .seminar-subtitle Vote on discussion topics with Lightning


  .events-section
    %section.upcoming-events
      %h2 Upcoming Events
      .events-list
        - if @upcoming_seminars.any?
          - @upcoming_seminars.each do |seminar|
            = render "landing_page/event", socratic_seminar: seminar
        - else
          .no-events No upcoming events scheduled

    %section.past-events
      %h2 Past Events
      .events-list
        - if @past_seminars.any?
          - @past_seminars.each do |seminar|
            = render "landing_page/event", socratic_seminar: seminar
        - else
          .no-events No past events found

  %footer.sticky-footer
    .container
      = link_to 'Sats Vs Bitcoin', sats_vs_bitcoin_path, class: 'button'
      = link_to 'Projector Mode', projector_path, class: 'button'
