.sections
  %h1 Edit Section

  = form_with(model: [@socratic_seminar, @section], local: true, class: 'section-form') do |f|
    - if @section.errors.any?
      #error_explanation
        %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
        %ul
          - @section.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name, "Section Name"
      = f.text_field :name, required: true, placeholder: "Enter section name"
      .field-hint Required field

    .field
      = f.label :order, "Order"
      = f.number_field :order, required: true, placeholder: "Enter order the section should appear in the list"
      .field-hint Required field

    .actions
      = f.submit "Update Section", class: "button"
      = link_to "Cancel", edit_socratic_seminar_path(@socratic_seminar), class: "button button-secondary"

  .delete-action
    = button_to "Delete", socratic_seminar_section_path(@socratic_seminar, @section), method: :delete, class: "button button-danger", form: { data: { turbo_confirm: section_delete_warning(@section) } }
