!!!
%html{"data-controller" => "screen-size"}
  %head
    %title= content_for(:title) || "Lightning Voting"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}
    %link{href: "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap", rel: "stylesheet"}
    %script{src: "https://kit.fontawesome.com/090ca49637.js", crossorigin: "anonymous"}

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.laptop-layout
    = render 'shared/notifications'
    - if @admin_mode
      .admin-mode-indicator
        Admin Mode Active

    = render 'navigation/laptop'

    .container.laptop-container
      = yield
